# ===============================
# NODE
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# ENV
# ===============================
.env
.env.local
.env.production

# ===============================
# BUILD OUTPUTS
# ===============================
dist/
build/
coverage/

# ===============================
# TYPESCRIPT
# ===============================
*.tsbuildinfo

# ===============================
# IDE / OS
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# LOGS
# ===============================
logs/
*.log
